# Server Configuration
PORT=8080
SERVER_URL=http://localhost:8080

# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority

# Groq API Configuration
GROQ_API_KEY=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
GROQ_MODEL=meta-llama/llama-4-scout-17b-16e-instruct

# RapidAPI Configuration (Weather)
RAPIDAPI_KEY=your_rapidapi_key_here
RAPIDAPI_HOST_WEATHER=weather-intelligence1.p.rapidapi.com
